<div class="container">
    <div class="row">
        <div class="page-content index-blog">
            <span class="page_title"><i class="fa fa-angle-left"></i> اخبار و مقالات</span>
            <div class="row row1">
                <div class="col-md-6">
                    <div class="desc">
                        <h4>عنوان مطلب در این قسمت باشد</h4>
                        <div class="meta">
                            <span><i class="fa fa-calendar-o"></i> 99.9.16</span>
                            <span><i class="fa fa-comment-o"></i> 10 نظر</span>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                            زیادی </p>
                        <div class="text-left">
                            <a href="#" class="site-btn">ادامه مطلب <i class="fa fa-angle-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pic">
                        <img src="img/custom_search-min.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row row2">
                <div class="col-md-6">
                    <div class="pic">
                        <img src="img/wordpress_sidebars-min.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="desc">
                        <h4>عنوان مطلب در این قسمت باشد</h4>
                        <div class="meta">
                            <span><i class="fa fa-calendar-o"></i> 99.9.16</span>
                            <span><i class="fa fa-comment-o"></i> 10 نظر</span>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                            زیادی </p>
                        <div class="text-left">
                            <a href="#" class="site-btn">ادامه مطلب <i class="fa fa-angle-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row1">
                <div class="col-md-6">
                    <div class="desc">
                        <h4>عنوان مطلب در این قسمت باشد</h4>
                        <div class="meta">
                            <span><i class="fa fa-calendar-o"></i> 99.9.16</span>
                            <span><i class="fa fa-comment-o"></i> 10 نظر</span>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                            زیادی </p>
                        <div class="text-left">
                            <a href="#" class="site-btn">ادامه مطلب <i class="fa fa-angle-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pic">
                        <img src="img/css_acardion_menu-min.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="pagination-box">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


